.formContainer {
  padding: 2rem;
}
.donorRegistrationForm {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
}
.donorRegistrationFormInput {
  margin: 0.5rem;
}

.donorRegistrationFormButton {
  background-color: #d0edb4;
  width: 10rem;
  margin: 0.5rem;
}

.donorList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.pageFormContainer {
    background-color: #B4CFEC;
    padding: 2rem;
}

.titleFormPage {
    text-align: center;
}


@media screen and (max-width: 1480px) {
  .donorList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 980px) {
  .donorList {
    grid-template-columns: 1fr;
  }
}
